<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block page-title %}Craft of Man{% endblock %}</title>

    <meta charset="utf-8" />
    {% block page-description %}<meta name="description" content="Celebrating the Craft of Man." />{% endblock %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/craftofman.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/craftofman.css?1" />

    <!--[if IE]>
        <style type="text/css">
            .group {
                display: block;
                zoom: 1;
            }
        </style>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="{% block body-class %}{% endblock %}">
    <header>
        <h1 class="slabtextdone">
            <span class="slabtext top" style="word-spacing: -0.5px; letter-spacing: 0px; font-size: 127.793px; ">Craft of Man</span>
            <span class="slabtext" style="word-spacing: 0px; letter-spacing: 0px; font-size: 95.455px; ">is an exploration</span>
            <span class="slabtext" style="word-spacing: 2px; letter-spacing: 0px; font-size: 86.122px; ">into the true value</span>
            <span class="slabtext" style="word-spacing: 1px; letter-spacing: 0px; font-size: 89.209px; ">of creating things</span>
            <span class="slabtext bottom" style="word-spacing: -2px; letter-spacing: 0px; font-size: 130.727px; ">for yourself</span>
        </h1>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
